<a href="https://colab.research.google.com/github/pawan1816/movie-recommendation-system/blob/main/movierecommandationproject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
column_name = ['user_id', 'item_id', 'rating', 'timestamp']
df = pd.read_csv('/content/Movie_Id_Titles', sep='\t', names=column_name)

In [ ]:
df.head()

               user_id  item_id  rating  timestamp
0        item_id,title      NaN     NaN        NaN
1   1,Toy Story (1995)      NaN     NaN        NaN
2   2,GoldenEye (1995)      NaN     NaN        NaN
3  3,Four Rooms (1995)      NaN     NaN        NaN
4  4,Get Shorty (1995)      NaN     NaN        NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1683 entries, 0 to 1682
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    1683 non-null   object
 1   item_id    0 non-null      float64
 2   rating     0 non-null      float64
 3   timestamp  0 non-null      float64
dtypes: float64(3), object(1)
memory usage: 52.7+ KB

In [ ]:
movie_title = pd.read_csv('../input/movie-id-titles/Movie_Id_Titles')

FileNotFoundError: ignored